.main {
  position: relative;
  padding: 0 30px 100px 30px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 190px;
  flex: 1;
}
.top {
  position: relative;
  z-index: 1;
  border: 2px solid #e6007a;
  border-radius: 16px;
  padding: 30px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topItem {
  display: grid;
  gap: 10px;
}
.topTitle {
  font-size: 22px;
  font-weight: bold;
}
.topValue {
  font-size: 22px;
  color: #e6007a;
  line-height: 1em;
  margin-right: 5px;
}
.topDesc {
  font-size: 14px;
}
.topRow {
  display: flex;
  align-items: flex-end;
}
.pools {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.card {
  padding: 30px 50px;
  border-radius: 16px;
  background: #000;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50px;
  }
}
.rowValue {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}
.btns {
  display: grid;
  padding: 0 25px;
  margin-top: 26px;
  gap: 10px;

  button {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px;
    margin-top: 80px;
  }
  .top {
    padding: 20px;
    flex-direction: column;
  }
  .topTitle {
    font-size: 18px;
    text-align: center;
  }
  .topItem {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .topRow {
    justify-content: center;
  }
  .pools {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 30px 20px;
  }
  .btns {
    padding: 0 15px;
  }
  .rowValue {
    font-size: 18px;
  }
}