.card {
  padding: 30px 50px;
  border-radius: 16px;
  background: #000;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50px;
  }
}
.rowValue {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}
.btns {
  display: grid;
  padding: 0 25px;
  margin-top: 26px;
  gap: 10px;

  button {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 30px 20px;
  }
  .btns {
    padding: 0 15px;
  }
  .rowValue {
    font-size: 18px;
  }
}