.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #000;
  z-index: 10;

  a {
    display: flex;
  }
}
.logo {
  height: 46px;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 60px;
    padding: 0 20px;

    button {
      height: 36px;
    }
  }
  .logo {
    height: 30px;
  }
}