body {
  background-color: var(--color-black);
  color: var(--color-text-1);
  font-family: Avenir-Medium, PingFangSC-Regular, ArialNew, Rubik, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
@font-face {
  font-family: Avenir-Book;
  font-display: swap;
  src: url('../fonts/AvenirLTStd-Book.otf');
}
@font-face {
  font-family: Avenir-Light;
  font-display: swap;
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: Avenir-Heavy;
  font-display: swap;
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: Avenir-Black;
  font-display: swap;
  src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: Avenir-Medium;
  font-display: swap;
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: Lobster;
  font-display: swap;
  src: url('../fonts/Lobster-1.4.otf');
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.modal-msg .arco-modal-content {
  font-size: 16px;
  text-align: center;
}
#walletconnect-wrapper {
  color: #1d2129;
}
.arco-modal {
  max-width: 90%;
}
